body { background: #2439a2; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 41px; display: flex; }
.block-cluster-0 { color: #d9f7b4; font-size: 15px; margin-bottom: 5px; }
.block-filter-1 { color: #3857dc; font-size: 21px; margin-bottom: 5px; }
.block-user-2 { color: #98154e; font-size: 15px; margin-bottom: 5px; }
.block-cluster-3 { color: #6b3520; font-size: 21px; margin-bottom: 5px; }
.block-router-4 { color: #555728; font-size: 21px; margin-bottom: 5px; }
.block-sms-5 { color: #88d150; font-size: 17px; margin-bottom: 5px; }